# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
deeperlang/
deeper310/
deeperlang-test/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# Environment and secrets
.env
*.env.env
